.main {
    width: 60%;
    color: white; 
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
    top: 20%;
    left: 30vw;
    height: 83vh;
    font-style: italic;
    animation: animate 3s linear;
}

.info {
    margin: 10px;
    font-size: 20px;
    text-shadow: white;
}

@keyframes animate {
    from {opacity: 0;}
    to {opacity: 1;}
}