.header {
    color: white;
    text-transform: uppercase;
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    /* top: 50%; */
    /* right: 38vw; */
    font-size: xx-large;
    font-weight: 900;
    text-shadow: -3px 2px 20px black;
    text-decoration: overline;
    cursor: pointer;
}

.main {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    /* right: 40vw; */
    /* top: 50% */
}