.myButton {
    border: 1px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    width: 200px;
    margin: 10px 0px;
    box-shadow: inset 0px 0px 20px 0px white;
    /* border: none; */
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    
    

}