.modalIntro {
    background: transparent;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    animation: intro 13s linear;
    opacity: 0;
}

.modalIntro_first, .modalIntro_second {
    opacity: 0;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    font-weight: lighter;
    font-style: italic;
    font-size: 2.5em;
    background: linear-gradient(90deg, black, white, black);
    animation: animate 8s linear ;
    background-size: 90%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.modalIntro_second {
    animation-delay: 6s;
    
}

.skipBtn {
    /* color: black; */

    position: absolute;
    top: 90%;
    right: 5%;
    border: none;
    background: transparent;
    color: rgba(255, 255, 255, 0.522);
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

@keyframes animate {
    0% {opacity: 1;
        /* z-index: 1; */
        color: white;
        background-position: -1000%;
    }
    99% {opacity: 1;}
    100% {
        opacity: 0;
        background-position: 1500%;
    }    
}

@keyframes intro {
    0% {
        opacity: 1;
        background: black;
    }
    95% {
        opacity: 1;
        background: black
    }
    100% {
        background: transparent;
        opacity: 0;
    }
}